<?xml version="1.0"?>
<config>
    <modules>
        <N98_FramelessCms>
            <version>0.2.0</version>
        </N98_FramelessCms>
    </modules>
    <frontend>
        <cache>
            <requests>
                <frameless>enterprise_pagecache/processor_default</frameless>
            </requests>
        </cache>
        <routers>
            <frameless>
                <use>standard</use>
                <args>
                    <module>N98_FramelessCms</module>
                    <frontName>frameless</frontName>
                </args>
            </frameless>
        </routers>
        <layout>
            <updates>
                <n98_framelesscms>
                    <file>n98/framelesscms.xml</file>
                </n98_framelesscms>
            </updates>
        </layout>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <N98_FramelessCms/>
            </modules>
        </suite>
    </phpunit>
</config>
